<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-lg-7">
            <h1 class="p-5 text-center">Bienvenido a D&P Doctors</h1>
        </div>
        <div class="col-lg-6 m-5 mt-2">
            <p>Más de 10 años creciendo junto a ti. Nos dedicamos a ofrecer atención médica
                de calidad para toda la comunidad. Nuestro equipo de profesionales altamente
                calificados está comprometido con tu bienestar y salud integral.
             </p>
             <p>
                 Hemos crecido a lo largo de los años y lo seguiremos haciendo para entregar
                 una atención humana, cercana y con diagnósticos certeros.
             </p>
             <p>
                 Creemos en la importancia de establecer relaciones cercanas con nuestros pacientes, comprendiendo
                 sus necesidades individuales y proporcionando un ambiente cálido y acogedor.
             </p>
             <p>Juntos podremos cumplir con cada necesidad existente en nuestros pacientes, proporcionándoles
                una gran variedad de especialistas que puedan darle la atención que usted se merece.
             </p>
        </div>
        <div class="col-lg-4">
            <img src="../../../assets/centro.jpg" alt="centro-medico.jpg" width="400px" height="300px">
        </div>
    </div>
</div>
<!--<div class="col-lg-4 m-2">
    <img src="../../../assets/centro.jpg" alt="centro-medico.jpg" width="400px" height="300px">
</div>-->