<div class="container">
  <div class="row d-flex justify-content-center align-items-center mt-4 mb-5" style="min-height: 340px;">
      <div class="col-md-10 col-lg-6 text-center mt-4">
          <div class="card bordes" style="min-height: 250px;">
              <div class="card-header">
                Nuevo Paciente
              </div>
              <div class="card-body">
                <h2 class="card-title mt-4">Registrate como un nuevo Paciente</h2>
                <a [routerLink]="['/register-patient']" class="btn btn-primary mt-4">Registrarse</a>
              </div>
          </div>
      </div>
  
      <div class="col-md-10 col-lg-6 text-center mt-4">          
        <div class="card bordes" style="min-height: 250px;">
          <div class="card-header">
            Nuevo Especialista
          </div>
          <div class="card-body">
            <h2 class="card-title mt-4">Registrate como un nuevo Especialista</h2>
            <a [routerLink]="['/register-doctor']" class="btn btn-primary mt-4">Registrarse</a>
          </div>
        </div>
      </div>
  </div>
</div>

<!--<div class="container">
    <div class="row d-flex justify-content-center align-items-center bg-danger" style="height: 600px;">
        <div class="col-md-10 col-lg-6 text-center">
            <div class="card patient" style="min-height: 250px;">
                <div class="card-header">
                  Nuevo Paciente
                </div>
                <div class="card-body">
                  <h5 class="card-title mt-4">Registrate como un nuevo Paciente</h5>
                  <a [routerLink]="['/register-patient']" class="btn btn-primary mt-4">Registrarse</a>
                </div>
            </div>
        </div>
    
        <div class="col-md-10 col-lg-6 text-center">
            <div class="card specialist" style="min-height: 250px;">
                <div class="card-header">
                  Nuevo Especialista
                </div>
                <div class="card-body">
                  <h5 class="card-title mt-4">Registrate como un nuevo Especialista</h5>                
                  <a [routerLink]="['/register-doctor']" class="btn btn-primary mt-4">Registrarse</a>
                </div>
            </div>
        </div>
    </div>
</div>-->