<div class="container">
    <div class="row d-flex m-4 justify-content-center align-items-center" style="height: 500px;">
        <div class="col-lg-6 text-center">
            <div class="card" style="min-height: 250px;">
                <div class="card-header">
                  Nuevo Paciente
                </div>
                <div class="card-body">
                  <h5 class="card-title mt-4">Registrate como un nuevo Paciente</h5>
                  <a [routerLink]="['/register-patient']" class="btn btn-primary mt-4">Registrarse</a>
                </div>
            </div>
        </div>
    
        <div class="col-lg-6 text-center">
            <div class="card" style="min-height: 250px;">
                <div class="card-header">
                  Nuevo Especialista
                </div>
                <div class="card-body">
                  <h5 class="card-title mt-4">Registrate como un nuevo Especialista</h5>                
                  <a [routerLink]="['/register-doctor']" class="btn btn-primary mt-4">Registrarse</a>
                </div>
            </div>
        </div>
    </div>
</div>