<div class="container-fluid footer">
    <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 text-center mt-4">
                <p class="h3 mb-3">Contacto</p>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-12 text-center">
                <i class="fa-solid fa-envelope"><span class="mt-5" style="font-family: sans-serif;"> info@dpdoctors.cl</span></i>            
            </div>
            <div class="col-xs-12 col-md-12 col-lg-12 text-center mt-2">
                <i class="fa-solid fa-phone"><span style="font-family: sans-serif;"> +56 (2) 6224 758</span></i>
            </div>
        <div class="col-xs-12 mt-5">
            <p class="text-center">Copyright © 2024 D&P Doctors - Todos los derechos reservados.</p>
        </div>
    </div>
</div>